# Data analysis example using cloud infrastructure

Data sources: 
- [NYC Citi Bike Trips](https://citibikenyc.com/system-data)
- [Weather data in BigQuery](https://www.cloudskillsboost.google/focuses/609?parent=catalog)

## Import the Citi Bike Trips dataset

In [2]:
!gsutil du -sh gs://bu-cds/citibike_trips/trips

8.63 GiB     gs://bu-cds/citibike_trips/trips

In [25]:
# Check out the sharded files in this folder
#!gsutil ls -lh gs://bu-cds/citibike_trips/trips/

In [4]:
# Get a list of all csv files in target directory
csv_files = !gsutil ls gs://bu-cds/citibike_trips/trips/shard-*.csv

# Read and concatenate all csv files into one dataframe
import pandas as pd
trips_df = pd.concat((pd.read_csv(f) for f in csv_files), ignore_index=True)

trips_df['starttime'] = pd.to_datetime(trips_df['starttime'])
trips_df['stoptime'] = pd.to_datetime(trips_df['stoptime'])

trips_df['date'] = trips_df.starttime.dt.date

trips_df

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender,customer_plan,date
0,949,2016-05-18 07:54:48.000,2016-05-18 08:10:37.000,496,E 16 St & 5 Ave,40.737262,-73.992390,519,Pershing Square North,40.751873,-73.977706,15472,Subscriber,1949.0,male,NaN,2016-05-18
1,1333,2016-07-06 12:17:52.000,2016-07-06 12:40:05.000,459,W 20 St & 11 Ave,40.746745,-74.007756,458,11 Ave & W 27 St,40.751396,-74.005226,22929,Subscriber,1949.0,male,NaN,2016-07-06
2,636,2013-09-27 15:56:47.000,2013-09-27 16:07:23.000,520,W 52 St & 5 Ave,40.759923,-73.976485,379,W 31 St & 7 Ave,40.749156,-73.991600,20145,Subscriber,1901.0,male,NaN,2013-09-27
3,789,2014-09-26 15:59:11.000,2014-09-26 16:12:20.000,303,Mercer St & Spring St,40.723627,-73.999496,168,W 18 St & 6 Ave,40.739713,-73.994564,18480,Subscriber,1948.0,male,NaN,2014-09-26
4,1057,2016-09-17 11:33:10.000,2016-09-17 11:50:47.000,285,Broadway & E 14 St,40.734546,-73.990741,350,Clinton St & Grand St,40.715595,-73.987030,26911,Subscriber,1950.0,male,NaN,2016-09-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53108716,847,2018-05-04 19:28:36.155,2018-05-04 19:42:43.350,525,W 34 St & 11 Ave,40.755942,-74.002116,3472,W 15 St & 10 Ave,40.742754,-74.007474,17397,Customer,1996.0,female,NaN,2018-05-04
53108717,411,2017-12-08 02:22:15.000,2017-12-08 02:29:06.000,435,W 21 St & 6 Ave,40.741740,-73.994156,3244,University Pl & E 8 St,40.731437,-73.994903,16839,Subscriber,1996.0,male,NaN,2017-12-08
53108718,552,2017-08-06 18:32:46.000,2017-08-06 18:41:58.000,3016,Kent Ave & N 7 St,40.720368,-73.961651,3082,Hope St & Union Ave,40.711674,-73.951413,30016,Subscriber,1996.0,female,NaN,2017-08-06
53108719,221,2015-11-06 13:24:17.000,2015-11-06 13:27:58.000,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,382,University Pl & E 14 St,40.734927,-73.992005,18440,Subscriber,1996.0,male,NaN,2015-11-06
53108720,912,2016-07-12 16:58:41.000,2016-07-12 17:13:53.000,445,E 10 St & Avenue A,40.727408,-73.981420,355,Bayard St & Baxter St,40.716021,-73.999744,25651,Subscriber,1996.0,male,NaN,2016-07-12

In [5]:
trips_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53108721 entries, 0 to 53108720
Data columns (total 17 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             int64
 1   starttime                datetime64[ns]
 2   stoptime                 datetime64[ns]
 3   start_station_id         int64
 4   start_station_name       object
 5   start_station_latitude   float64
 6   start_station_longitude  float64
 7   end_station_id           int64
 8   end_station_name         object
 9   end_station_latitude     float64
 10  end_station_longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth_year               float64
 14  gender                   object
 15  customer_plan            float64
 16  date                     object
dtypes: datetime64[ns](2), float64(6), int64(4), object(5)
memory usage: 6.7+ GB

Are there any missing values in this dataset that we need to handle?

In [26]:
# Your answer goes here

Could you also check with missingno package? (you might have to install the library if it's your first time using it)

In [ ]:
# Your answer goes here

What are the most and least popular destination stations?

In [27]:
# Your answer goes here

How many minutes is the average duration of a bike ride in this dataset? (original unit: seconds)

In [29]:
# Your answer goes here

What is the maximum duration of a bike ride in this dataset?

In [28]:
# Your answer goes here

Looks like we need to remove some bad records. Let's remove all the rows where the duration of a ride is greater than 12 hours (12 x 60 x 60 = 43200 seconds)

In [12]:
trips_df[trips_df.tripduration > 43200].shape

(27623, 17)

In [13]:
# Your answer goes here

How about its distribution?

In [30]:
# Your answer goes here

In [31]:
# Your answer goes here

How many rides are done by subscribers?

In [32]:
# Your answer goes here

In [33]:
# Your answer goes here

What's the date range?

In [34]:
# Your answer goes here

## Import the historical weather data for NYC

In [19]:
%%bigquery weather_df
SELECT * FROM `bigquery-public-data.noaa_gsod.gsod201*`
WHERE stn = '725030' AND wban = '14732'  -- LaGuardia Airport

Query is running:   0%|          |

Downloading:   0%|          |

In [20]:
weather_df['date'] = pd.to_datetime(weather_df['year'] + '-' + weather_df['mo'] + '-' + weather_df['da']).dt.date
weather_df = weather_df[['date', 'prcp', 'temp']]
weather_df

            date  prcp  temp
0     2013-04-10  0.14  62.8
1     2013-03-30  0.00  48.1
2     2013-05-17  0.00  66.9
3     2013-01-20  0.00  46.9
4     2013-02-04  0.03  28.3
...          ...   ...   ...
3647  2016-10-10  0.32  57.0
3648  2016-06-12  0.10  80.2
3649  2016-07-26  0.77  81.7
3650  2016-11-21  0.34  40.7
3651  2016-03-12  0.00  49.6

[3652 rows x 3 columns]

Join the `trips_df` & `weather_df`:

In [35]:
# Your answer goes here

Find the correlation between `tripduration` and `prcp` and `temp`:

In [37]:
# Your answer goes here

## At-home exercises
- Find the correlation between the number of rides per day, precipitation, and temperature
- Find the relationship between number of rides and seasons
- Find the relationship between the number of rides and time of day, as well as day of week
- Make a heatmap of the city with popular starting stations as well as destinations
- What are the most popular routs?